<h1>Quiz Questions</h1>

<table>
  <thead>
    <tr>
      <th>Quest</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <!-- <th>Answer</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.quest %></td>
        <td><%= question.a %></td>
        <td><%= question.b %></td>
        <td><%= question.c %></td>
        <td><%= question.d %></td>
        <td><%= link_to 'Edit', edit_quiz_question_path(question) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_quiz_question_path %> |
<%= link_to 'Back', quiz_path(@quiz) %>

